<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" >
<div class="row flex-lg-nowrap">
 

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" >{{userName}}</h4>
                    <p class="mb-0">{{mail}}</p>
                    
                    
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">administrator</span>
                  </div>
                </div>
              </div>
             
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Ime</label>
                              <input class="form-control" type="text" name="firstName"id="firstName" placeholder="Ime">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Prezime</label>
                              <input class="form-control" type="text" name="lastName" id="lastName"  placeholder="Prezime">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" id="email" placeholder="user@example.com">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <select class="form-control" id="city">
                              <option value="Sarajevo">Sarajevo</option>
                              <option value="Tuzla">Tuzla</option>
                              <option value="Zenica">Zenica</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                            <label >Datum rodjenja</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2011-08-19" id="dateOfBirth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                              <select class="form-control" id="gender">
                                <option value="Musko">Musko</option>
                                <option value="Zensko">Zensko</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <select class="form-control" id="role">
                                <option value="1">Privilegovani</option>
                                <option value="2">Regularni</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Promijeni password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Trenutni Password</label>
                              <input class="form-control" type="password" id="currentPassword" [disabled]= "buttonDisabled">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Novi Password</label>
                              <input class="form-control" type="password" id="password"[disabled]= "buttonDisabled1" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Potvrdi  <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" id="confirmPassword" [disabled]= "buttonDisabled2"></div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="button"  (click)="saveChanges()">Sacuvaj promjene</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary" (click)="logoutUser()">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</div>
</div>
