<div class="ml-5 mt-2">
    <h2>Pregled vaših objava</h2>
    <h6>
        Ovdje možete pronaći recepte koje ste vi objavili
    </h6>
</div>


<div class="mt-2 ml-5 mr-5 justify-content-center">
    <!-- <div *ngIf = "recipeList.length == 0 && account">
        <div class="alert alert-danger" role="alert">
            Nema recepata za prikaz!
          </div>
    </div> -->
    <div *ngIf = "!account">
      <div class="alert alert-danger" role="alert">
          Za pregled je potreban login!
        </div>
  </div>
  <div class="mt-3" *ngIf = "obrisano == true">
    <div class="alert alert-success" role="alert">
        Recept uspješno obrisan!
      </div>
</div>
<!-- <div class="mt-3" *ngIf = "obrisano == false">
  <div class="alert alert-danger" role="alert">
      Desila se greška pri brisanju recepta!
    </div>
</div> -->
  <div *ngIf = "recipeList.length != 0 && account"> 
      <!-- ngFor kroz listu recepata -->
<div class="card border-info mb-4" *ngFor = "let recipe of recipeList" >
    <div class="card-header">
      {{recipe.title}}
    </div>
    <div class="card-body text-info">
      <blockquote class="blockquote mb-0">
        <p>{{recipe.description}}</p>
        <p class="card-text"><small class="text-muted">Temperatura kuhanja: {{ recipe.cookingTemperature}}</small></p>
        <p class="card-text"><small class="text-muted">Vrijeme kuhanja: {{ recipe.cookingTime}}</small></p>
        <p class="card-text"><small class="text-muted">Jelo: {{recipe.dish.title}}</small></p>
        <p class="card-text"><small class="text-muted">{{recipe.dish.description}}</small></p>
        <footer class="blockquote-footer">Objavljeno <cite title="Source Title">{{ recipe.postdate}}</cite></footer>
        <div *ngIf = "privilegovan == 1"><button class="btn btn-danger mt-3" type="submit" (click)="deleteRecipe(recipe.id)">Obrisi objavu</button></div>
      </blockquote>
    </div>
  </div>
</div>
  </div>

