<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 900px;">
    <!-- Default form register -->
    <form class="text-center border border-light p-5" action="#!">
    
        <p class="h4 mb-4">Sign up</p>
    
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text"  id="firstName" class="form-control" placeholder="First name" required="true">
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="lastName" class="form-control" placeholder="Last name" required="true">
            </div>
        </div>
    
        <!-- E-mail -->
        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" required="true">
    
        <!-- Password -->
        <input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required="true">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
    
         <!-- Confirm Password -->
         <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormConfirmPasswordHelpBlock" required="true">
         <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            
        </small>

        <!-- Grad korisnika -->
        <div >
            
          <select class="form-control" id="city">
            <option value="Sarajevo">Sarajevo</option>
            <option value="Tuzla">Tuzla</option>
            <option value="Zenica">Zenica</option>
          </select>
        </div>

        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        </small>
         <!-- Spol -->
         <div >
            
            <select class="form-control" id="gender">
              <option value="Musko">Musko</option>
              <option value="Zensko">Zensko</option>
            </select>
          </div>

          <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        </small>

        <!-- Datum rodjenja -->
        <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Datum rodjenja</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="dateOfBirth">
        </div>
        </div>

        <!-- Uloga korisnika -->
        <div>
        <select class="form-control" id="role">
            <option value="1">Privilegovan</option>
            <option value="2">Regularan</option>
          </select>
        </div>

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="button" (click)="registerUser()">Sign up</button>
    
        <hr>


       
    </form>
    <!-- Default form register -->
</div>
</div>
</div>